.helperText {
  margin: 0.8em auto 0.4em auto;
  font-weight: 500;
  font-size: 13px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--font-color-v1);
}

.error fieldset,
.error:hover {
  border-color: var(--error-color) !important;
}

.required {
  color: var(--error-color);
  padding-left: 0.1em;
}

.helperText p,
.required {
  display: inline;
}
.mainTextField {
  width: 100%;
  margin: 0.1em 0;
  border-radius: 4px;
  /* background-color: var(--auto-complete-color); */
}
.mainTextField fieldset {
  border-color: var(--border-color-translucent);
}

.mainTextField input {
  padding: 10px 14.4px;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
}

.forgotPassword > a {
  text-decoration: none;
  color: var(--font-color-v2);
  font-weight: 400;
}

.invalidText {
  color: var(--error-color) !important;
  margin-top: 0.5em;
  font-size: 12px;
}

.isMatched {
  margin-top: 0.5em;
  font-size: 0.9em;
}

.topTextField {
  margin-top: 70px;
}
.tooltipWithBreaks {
  white-space: pre-line;
}

.helperText,
.invalidText,
.isMatched {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}
