.labelBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
  border-radius: 4px;
}

.labelBox > :nth-child(1) {
  margin: 0;
}

.colored {
  color: #dda542;
  background-color: #fef4e4;
  height: 2.8em;
}
