.actionBlock{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.projectList{
    display:flex;
    width: 100%;
    gap:0.5rem;
}

.projectActionBtn{
    width:calc(.5rem + 1.5em + 1px);
    height:calc(.5rem + 1.5em + 1px);
    display:'inline=flex';
    justify-content: center;
    align-items: center;
    padding:.25rem;
    border-radius:.125rem;
}
.eyeIcon,.pencilIcon,.trashIcon,.urlIcon{
    vertical-align: middle;
    display:inline-flex;
    width:calc(.5rem + .25em);
}
.projectActionBtn:has(.eyeIcon){
    color:#3762ea;
    background-color:#e1e7fc;
}
.projectActionBtn:has(.eyeIcon):hover{
    color:#e1e7fc;
    background-color:#3762ea;
}
.projectActionBtn:has(.pencilIcon){
    color:#1e1a22;
    background-color:#ddddde;
}
.projectActionBtn:has(.pencilIcon):hover{
    color:#ddddde;
    background-color:#1e1a22;
}
.projectActionBtn:has(.trashIcon){
    color:#ff6c6c;
    background-color:#ffe9e9;
}
.projectActionBtn:has(.trashIcon):hover{
    background-color:#ff6c6c;
    color:#ffe9e9;
}
.projectActionBtn:has(.urlIcon){
    color:#DAA300;
    background-color:#FFFFE0;
}
.projectActionBtn:has(.urlIcon):hover{
    background-color:#DAA300;
    color:#FFFFE0;
}