/* --border-color-translucent */
.regularButton {
  font-family: var(--primary-font-family);
  text-transform: none;
  border-color: var(--border-color-translucent);
  color: var(--btn-color-blue);
}
.regularButton:hover {
  border-color: var(--border-color-translucent);
  background-color: #f3f6f9;
}
