.navbar {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.iconColor svg {
  color: #0f1114;
}

.iconColor.MuiButtonBase-root.MuiIconButton-root:hover {
  background-color: red !important;
  width: 30px;
}

.badgeColor > span {
  background-color: #4ab0c1;
  top: -7px;
  font-family: var(--primary-font-family);
}

.badgeColorError > span {
  background-color: #ff6c6c;
  top: -8px;
  font-family: var(--primary-font-family);
}

.searchIcon {
  color: #878a99;
}

.searchIcon svg {
  width: 0.75em;
  height: 0.75em;
}
