.nameWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card {
  position: relative;
  overflow: visible;
  box-shadow: none !important;
}

.media {
  height: 200px;
  background-size: cover !important;
  background-position: center !important;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.avatar {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 96px !important;
  height: 96px !important;
  z-index: 1;
}

.cameraIconAvatar {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 24px;
  height: 24px;
  background-color: #fff;
  z-index: 2;
}

.content {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: none !important;
}
