:root {
  --primary-color: #3498db;
  --secondary-color: #2c3e50;
  --error-color: #ff6c6c;
  --font-size: 16px;
  --primary-font-family: "Poppins", sans-serif;
  --font-color-v1: #0f1114;
  --font-color-v2: #878a99;
  --primary-border-subtle: #afc0f7;
  --border-color-translucent: #dde1ef;
  --btn-color-blue: #3762ea;
  --tb-primary-bg-subtle: #e1e7fc;
  --auto-complete-color: rgb(232, 240, 254);
  --light-error-color: #ffe9e9;
  --tb-card-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.MuiTypography-root {
  font-family: var(--primary-font-family);
}

html,
body {
  padding: 1rem;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: 400;
  display: flex;
  justify-content: center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}

form {
  width: 30em;
}

.showHeader .MuiDataGrid-columnHeaders {
  background-color: #eef0f7;
  color: #000;
  font-weight: 600!important;
}

.noHeader .MuiDataGrid-columnHeaders {
  display: contents;
}

.delete-button {
  background-color: #ffe9e9 !important;
  color: #ff6c6c !important;
}
.delete-button:hover {
  background-color: #ff6c6c !important;
  color: #ffe9e9 !important;
}

.new-user-form-typo {
  font-size: 22px !important;
  font-family: var(--primary-font-family) !important;
  font-weight: 700 !important;
  color: #1b1b1b !important;
  padding-bottom: 10px;
}

.blue-button {
  background-color: #afc0f7 !important;
  color: #3258d3 !important;
}
.blue-button:hover {
  background-color: #3258d3 !important;
  color: #afc0f7 !important;
}

.black-button {
  background-color: white !important;
  color: black !important;
  border-color: black !important;
  font-family: var(--primary-font-family);
}
.black-button:hover {
  background-color: black !important;
  color: white !important;
  border-color: black !important;
}

.black-button .MuiSvgIcon-root {
  margin-bottom: 2px;
}

.notifications-switch .MuiFormControlLabel-label {
  font-size: 12px;
  font-weight: 600;
}

.item-notification {
  cursor: pointer;
  border-radius: 4px !important;
}

.item-notification:hover {
  background-color: #f4f5f7;
}

.main-text-field
  .MuiInputBase-root.MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-width: 1px;
  border-color: var(--primary-border-subtle);
}

.main-text-field .MuiInputBase-input .MuiOutlinedInput-input {
  background: white !important;
}
.bag-icon.MuiButtonBase-root.MuiIconButton-root:hover {
  background-color: #e9ebec !important;
  width: 40px;
  height: 40px;
}

.bag-icon.MuiButtonBase-root.MuiIconButton-root {
  width: 40px;
  height: 40px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: "none" !important;
}

.cancel-btn:hover {
  background-color: var(--error-color) !important;
  color: white !important;
}

.side-menu-icon .MuiSvgIcon-root {
  width: 17px;
  height: 17px;
}

.footer-pagination-item.MuiButtonBase-root.MuiPaginationItem-root {
  border-radius: 4px;
  border: 1px solid var(--border-color-translucent);
}

.footer-pagination-item.MuiButtonBase-root.MuiPaginationItem-root.Mui-selected {
  background-color: var(--btn-color-blue);
}

.close-x-icon {
  cursor: pointer;
  color: var(--font-color-v2);
}

.close-x-icon:hover {
  color: black;
}

.dummy img {
  width:  30%;
}